ENVIRONMENT=dev

DJANGO_APP_KEY=
DJANGO_DB_NAME=food_planner
DJANGO_DB_USER=food_planner
DJANGO_DB_HOST=db
DJANGO_DB_PORT=5432
DJANGO_DB_PASSWORD=
DJANGO_DEBUG=True
DJANGO_REDIS_LOCATION=redis://redis:6379/1

POSTGRES_USER=food_planner
POSTGRES_DB=food_planner
POSTGRES_PASSWORD=

NUTRITIONIX_APP_ID=
NUTRITIONIX_APP_KEY=